@font-face {
  font-family: "Berlin Sans FB Demi";
  src: url("BRLNSDB.TTF") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: "Berlin Sans FB Demi", Arial, sans-serif !important;
}

.minecraft-font {
  font-family: 'MinecraftTen', sans-serif !important;
}
