.j0 {
    width: 1920px;
    height: 6814px;
    background-color: white;
    position: absolute;
    top: 10px;
    left: 400px;
    /* background-color: black; */
    }
    
    .j1 {
    width: 31.3;
    height: 29px;
    position: absolute;
    top: 63.5px;
    left: 100px;
    }
    
    .j2 {
    text-decoration: none;
    position: absolute;
    left: 144.26px;
    top: 48px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 40px;
    font-weight: 900;
    line-height: 60px;
    letter-spacing: 0.03em;
    text-align: left;
    width: 192px;
    height: 60px
    }
    
    .j3 {
    position: absolute;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 96px;
    font-weight: 900;
    line-height: 120px;
    letter-spacing: 0em;
    text-align: left;
    width: 474px;
    height: 473px;
    top: 241px;
    left: 219px;
    }
    
    .j4 {
        position: absolute;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 22px;
        font-weight: 500;
        line-height: 33px;
        letter-spacing: 0.01em;
        text-align: left;    
        width: 100px;
        height: 36px;
        left: 978.26px;
        top: 59px;
        transition: 0.5s;
        }
    .j4:hover {
        width: 139px;
        border-bottom: 2px solid orange;
        }
    .j5 {
            position: absolute;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            font-size: 22px;
            font-weight: 500;
            line-height: 33px;
            letter-spacing: 0.01em;
            text-align: left;    
            width: 96px;
            height: 33px;
            top:59px;
            left: 1168px;
            transition: 0.5s;
    }
    .j5:hover {
        width: 110px;
            border-bottom: 2px solid orange;
        }
    .j6 {
        position: absolute;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 22px;
        font-weight: 500;
        line-height: 33px;
        letter-spacing: 0.01em;
        text-align: left;    
        color: #242323;
        width: 123px;
        height: 33px;
        top:59px;
        left: 1339.26px;
        transition: 0.5s;
    }
    
    /* .j6:hover {
        width: 130px;
            border-bottom: 2px solid orange;
        } */
    
    .j7 {
        position: absolute;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 22px;
        font-weight: 500;
        line-height: 33px;
        letter-spacing: 0.01em;
        text-align: left;    
        width: 135px;
        height: 36px;
        color: #242323;
        width: 103px;
        height: 32px;
        top:59px;
        left: 1527.26px;
        transition: 0.5s;
        white-space: nowrap;
    }
    
    .j7:hover {
        width: 120px;
            border-bottom: 2px solid orange;
        }
    
    .j8 {
    position: absolute;
    width: 90px;
    height: 32px;
    top: 16px;
    left: 21px;
    color: #fefefe;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 23px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.72px;
    color: white;
    text-decoration: none;
    }
    
    .j9 {
    width: 134px;
    height: 62px;
    flex-shrink: 0;
    top: 47px;
    left: 1706px;
    border-radius: 7px;
    position: absolute;
    border-radius: 7px;
    background: #000;
    }
    
    .j10 {
    position: absolute;
    width: 606px;
    height: 58px;
    top: 754px;
    left: 219px; 
    flex-shrink: 0;
    color: #191818;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 37px;
    font-weight: 400;
    line-height: 48px;
    letter-spacing: -0.05em;
    text-align: left;
    }
    
    .j11 {
    position: absolute;
    width: 190px;
    height: 31.955px;
    fill: #EBD96B;
    left: 225px;
    top: 869.02px;
    }
    
    .j12 {
    position: absolute;
    width: 221px;
    height: 82px;
    flex-shrink: 0;
    Left: 449px;
    border-radius:10px;
    top: 844px;
    background: #000;
    }
    
    .j13 {
    position: absolute;
    width: 140px;
    height: 45px;
    top: 862px;
    left: 490px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 30px;
    font-weight: 500;
    line-height: 45px;
    letter-spacing: -0.05em;
    text-align: left;
    color: #fefefe;
    }
    
    .j14 {
    position: absolute;
    width: 1900px;
    height: 784px;
    top: 500px;
    left: -1666px;
    }

    .j16 {
        position: absolute;
        width: 495.7853164969062px;
        height: 117.55047065446408px;
        top: 483px;
        left: 196px;
        transform: rotate(-2deg);
        background-color: #EBD96B;
        }

.j40 {
    top: 1700px;
    left: -1000px;
    position: absolute;
}

.j41 {
    top: 1950px;
    left: -810px;
    position: absolute;
    font-size: 40px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 900;
}

.j42 {
    top: 2435px;
    left: -1111px;
    position: absolute;
    font-size: 80px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 900;
}

.j43 {
    top: 2555px;
    left: -1292px;
    position: absolute;
    font-size: 80px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 900;
}

.j44 {

/* Background */

position: absolute;
width: 116px;
height: 814px;
left: 178px;
top: 225px;

writing-mode: horizontal-tb;

/* Y */

position: absolute;
width: 116px;
height: 58px;
left: 0px;
top: 0px;

font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 130px;
line-height: 50px;
/* or 38% */
letter-spacing: 0.03em;

color: #FDD200;

text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);


/* 0 */

position: absolute;
width: 116px;
height: 58px;
left: 0px;
top: 189px;

font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 130px;
line-height: 50px;
/* or 38% */
letter-spacing: 0.03em;

color: #FDD200;

text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);


/* U */

position: absolute;
width: 116px;
height: 58px;
left: 0px;
top: 378px;

font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 130px;
line-height: 50px;
/* or 38% */
letter-spacing: 0.03em;

color: #FDD200;

text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);


/* N */

position: absolute;
width: 116px;
height: 58px;
left: 0px;
top: 567px;

font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 130px;
line-height: 50px;
/* or 38% */
letter-spacing: 0.03em;

color: #FDD200;

text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);


/* G */

position: absolute;
width: 116px;
height: 58px;
left: -1222px;
top: 300px;

font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-style: normal;
font-weight: 900;
font-size: 150px;
line-height: 50px;
/* or 38% */
letter-spacing: 0.03em;

color: #FDD200;

text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

.block {     
    width: 1900px;
    height: 381px;
    position: absolute;
    left: -1666px;
    top: 120px;
    background-color: black;
} 

.j45 {
    top: 2288px;
    left: -1177px;
    position: absolute;
    font-size: 80px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 900;
}

.w50 {
    position: absolute;
    width: 1920px;
    height: 545px;
    top: 4269px;
    left: -1650px;    
    background-color: black;
    }
    
    .w51 {
        position: absolute;
        top: 119px;
        left: 100px;
        width: 192px;
height: 52.396px;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 40px;
        font-weight: 900;
        line-height: 60px;
        letter-spacing: 0.03em;
        text-align: left;
        color: white;        
    }
    
    .w52 {
    position: absolute;
    top: 203px;
    left: 100px;
    width: 415px;
    height: 80px;
    color: #8E8E8E;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: 40px; /* 166.667% */
letter-spacing: 0.48px;
    }
    
    .w53 {
position: absolute;
top: 315px;
left: 100px;
    }
    
    .w54 {
        position: absolute;
        top: 315px;
        left: 166px;
    }
    
    .w55 {
        position: absolute;
        top: 315px;
        left: 232px;
        }
        .w56 {
            position: absolute;
            top: 315px;
            left: 295px;
            }
    .w57 {
        position: absolute;
        width: 105px;
        height: 28px;
        color: #D9D9D9;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 40px; /* 166.667% */
        letter-spacing: 0.48px;   
        top: 125px;
        left: 930px;
    }
    
    .w58 {
        position: absolute;
        width: 66px;
        height: 28px;
        top: 60px;
        color: #8E8E8E;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: 40px; /* 166.667% */
letter-spacing: 0.48px;
top: 185px;
left: 930px;
    }
    
    .j68 {
        position: absolute;
        width: 120px;
height: 28px;
flex-shrink: 0;
color: #8E8E8E;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: 40px; /* 166.667% */
letter-spacing: 0.48px;
left: 930px;
top: 245px;
    }
    
    .j69 {
        position: absolute;
        color: #8E8E8E;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: 40px; /* 166.667% */
letter-spacing: 0.48px;
left: 930px;
top: 310px;
    } 
    
    .j70 {
        position: absolute;
        color: #8E8E8E;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 40px; /* 166.667% */
        letter-spacing: 0.48px;
        left: 930px;
        top: 370px;
    }
    .w59 {
        position: absolute;
        color: #D9D9D9;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: 40px; /* 166.667% */
letter-spacing: 0.48px;
top: 125px;
left: 1240px;
    }

    .w60 {
        position: absolute;
        color: #8E8E8E;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 40px; /* 166.667% */
        letter-spacing: 0.48px;
        left: 1239px;
        top: 187px;
    }

    .w61 {
        position: absolute;
        color: #8E8E8E;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 40px; /* 166.667% */
        letter-spacing: 0.48px;
        left: 1240px;
        top: 248px;
    }

.j65 {
    position: absolute;
    color: #8E8E8E;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 166.667% */
    letter-spacing: 0.48px;
    left: 1240px;
    top: 368px;
}

.j66 {
    position: absolute;
    color: #D9D9D9;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: 40px; /* 166.667% */
letter-spacing: 0.48px;
top: 125px;
left: 1605px;
}

.w63 {
    position: absolute;
    color: #8E8E8E;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 166.667% */
    letter-spacing: 0.48px;
    left: 1240px;
    top: 308px;
}

.j71 {
    position: absolute;
    color: #8E8E8E;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 166.667% */
    letter-spacing: 0.48px;
    left: 1605px;
    top: 187px;
}

.w62 {
    position: absolute;
    color: #8E8E8E;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 166.667% */
    letter-spacing: 0.48px;
    left: 1605px;
    top: 246px;
}
