<!DOCTYPE html>
    
        <title>VolksWagen2014</title>

   <head><h1><u>Golf Das Auto</u></h1> </head>
   <br>

   <body>
   <h2>ET SI VOUS NE DEVIEZ PLUS COMPTER QUE SUR UNE SEULE VOITURE ? <del>Pas de problème</del>
    <br><h3><strong>LA NOUVELLE GROUP FIT LÀ AVEC UN GRAND NOMBRE DE NOUVEAUTES TECHNOLOGIQUES <br> UN NOUVEAU DESIGNET MAINTES IDEES QUI VENDENT LA CONDUITE PLUS AGREABLE PLUS EFFICACE <br> ET PLUS SONE MAIS LA GOLENA CHANGE QUE POUR UNE SEULE ET UNIQUE RAISON RESTER FIDELE <br> A ELLE MEME COMME LA VOITURE LA PLUS PROCHE DE L'HOMME</h3></strong>
    <br>
    <br>
    <img width="800" height="600px" src="img/ffsdfs.jpg"></img> 

    <br>
    <br>
    <img width="800" height="400px" src="img/Second.jpg"></img>
    <br>
    <br>
    <strong><h3>CONDUISEZ EN DONNANT L'EXEMPLE: LA NOUVELLE GOLF EST DISPONIBLE AVEC LE SYSTÈME <br> DE GESTION ACTIVE DES CYLINDRES ACT ET EQUIPÉE DE LA TECHNOLOGIE BLUEMOTION.</strong></h3>
    <br>
    <br>
    <img width="800" height="400px" src="img/Third.jpg"></img>
    <br>
    <br>
    <img width="800" height="400px" src="img/fourth.jpg"></img>
    <br>
    <br>
    <strong><h3>SPORTIVE. PLUS PRÉCISE. PLUS PUISSANTE UN DESIGN AUTOMOBILE NE PEUT SE REINVENTER NULLE PAR<br> AILLEURS AVEC UNE TELLE ELEGANCE QU'ICI SOUS LA SILHOUETTE CLASSIQUE DE LA GOLF</strong> </h3>
    <br>
    <br>
    <img width="800" height="400px" src="img/fifth.jpg"></img>
    <br>
    <br>
    <strong> <h3>EN DONNANT L'EXEMPLE: LA NOUVELLE GOLF EST DISPONIBLE AVEC LE SYSTÈME <br> DE GESTION ACTIVE DES CYLINDRES ACT ET EQUIPÉE DE LA TECHNOLOGIE BLUEMOTION</strong></h3>
    <br>
    <br>
    <img width="800" height="400px" src="img/sixth.jpg"></img>
    <br>
    <br>
    <strong><h3>NOUVELLE SENSATION D'ESPACE, NOUVELLE CONSOLE CENTRALE INCLINEE VERS LE CONDUCTEUR,<br>
         NOUVEAUX SYSTÈMES INFOTAINMENT UN INTERIEUR D'UNE NOUVELLE QUALITÉ</strong></h3>
    <br>
    <br>
    <img width="500" height="600px" src="img/Last.jpg"></img>
    <br>
    <br>
    <h2>Elue « Voiture de l'année »</h2>

<strong><h3> Actuelle Volkswagen Golf VII a été élue « Voiture de l'année 2013 », <br> plébiscitée par un jury de 58 journalistes spécialisés européens - dont nous faisons partie. <br> La berline va être d'ailleurs complétée à la rentrée prochaine par un break. <br> Puis viendra une version rehaussée à la carrosserie totalement différente pour jouer les monospaces compacts - et remplacer la précédente Golf Plus - en 2014. <br> Et ce, sans parler de la diversité mécanique, avec une version ultra sobre émettant seulement 85 grammes de C02, de variantes à quatre roues motrices, <br> la GTI sportive de 220 chevaux,  une GTD, c'est-à-dire une version également sportive mais diesel de 184 chevaux.
<br>
Lorsque la première Golf GTi est sortie, il y a 37 ans, personne ne pariait d'ailleurs sur un tel succès. À l'époque, il était prévu d'en réaliser 5.000 exemplaires à peine. Il s'en est finalement produit presque 2 millions d'unités à ce jour... Sont au programme, en outre, une voiture fonctionnant au gaz naturel, une électrique et une hybride rechargeable. Ca, c'est pour les vraies Golf.</h3></strong>
<br>
<a href="https://www.google.com/search?q=volkswagen+golf&oq=&aqs=chrome.0.69i59i450l8.382926252j0j15&sourceid=chrome&ie=UTF-8" target="_blank"><h1><marquee><u><b>PLUS D'INFORMATIONS</b></u> </marquee></h1></a>
</body>
</html>