<!DOCTYPE html>
<html lang="en">
<head>
    
    <title>russfavourite</title>
    <link rel="stylesheet" href="russfavorite.css">
    <link rel="shortcut icon" href="public\images\Group 49.png"/>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
<style>

      input[type="text"]:focus { outline: none; }
        input[type="number"]:focus { outline: none; }
        input[type="email"]:focus { outline: none; }
      
      .j6 {
        width: 140px;
        border-bottom: 2px solid orange;
        position: absolute;
      }

      *{
  margin: 0;
  padding: 0;
  font-family: "montserrat",sans-serif;
}
.testimonials{
  padding: 40px 0;
  color: #434343;
  text-align: center;
}
.inner{
    position: absolute;
    top: 3444px;
    left: 100px;
  overflow: hidden;
  padding: 0 20px;
}

.border{
  width: 160px;
  height: 5px;
  background: orange;
  margin: 26px auto;
}

.row{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.col{
  flex: 33.33%;
  max-width: 33.33%;
  box-sizing: border-box;
  padding: 15px;
}
.testimonial{
  background: #fff;
  padding: 30px;
}
.testimonial .img{
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.name{
  font-size: 20px;
  text-transform: uppercase;
  margin: 20px 0;
}
.stars{
  color: #6ab04c;
  margin-bottom: 20px;
}


@media screen and (max-width:960px) {
.col{
  flex: 100%;
  max-width: 80%;
}
}

@media screen and (max-width:600px) {
.col{
  flex: 100%;
  max-width: 100%;
}
}

p {
    font-size: 25px;
}

.img1   {
    width: 200px;
    height: 50px;
}
.testimonial:hover {
  background-color: white;
  box-shadow: orange 1px 1px 25px;
  margin-top: -20px;
}
      </style>
</head>
<body>    
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <script>
    AOS.init();
  </script>
<div class="j0">
        <div class="j1"><img src="public/images/vector.png" style="width: 32px;height:29px
            " alt=""></div>
            <div class="j2"><a href="https://ru.wikipedia.org/wiki/Fashion" style="text-decoration: none; color: black;" target="_blank">FASHION</a></div>
                <ul>
                    <div class="h100"><select "name" id="" onchange="window.location.href=this.options[this.selectedIndex].value" style="position: absolute; top: 60px; left: 850px; width: 100px;
                        height: 30px; border-radius: 7px; border: none; font-size: 20px; font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">
                            <option value="">Рус</option>
                            <option value="favorite.html">Eng</option>
                            </select></div>
                        <div class="j4"><a href="russFigmaProject.html"style="text-decoration: none; color: black;">КАТАЛОГ</a></div>
                    <div class="j5"><a href="russFASHION.html" style="text-decoration: none; color: black; 
                    
                    ">МОДА</a></div>
                    <div class="j6"><a href="russfavorite.html"style="text-decoration: none; color: black;">ИЗБРАННОЕ</a></div>
                    <li><div class="j7"><a href="russaboutus.html" style="text-decoration: none; color: black;">О НАС</a></div>  
                
                <div class="j9"><a href="Registration.html" style="color: white;
                    text-decoration: none;">
                    <div class="j8">РЕГИСТРАЦИЯ</a></div>
                    <div class="j14"><img src="public/images/19998.png" alt="" style="    width: 1900px;
                        height: 1115px;"></div>
                    <div class="j40"><img src="public/images/star.png" alt=""></div>
                    <div class="j41">ИЗБРАННОЕ</div>
                    <div class="j45">У ВАС НЕТ СОХРАНЕННЫХ ОДЕЖД</div>
                    <div class="j42">Добавите в избранное</div>
                       <div class="j43">Нажав на ♡ в товаре. <br> Войдите в свою учетную запись и
                        <br> все ваши избранные будут сохранены</div>
                        <div class="block"></div>
                        <div class="j44">ИЗБРАННОЕ
                            
                        
                    </div>
                    <div class="w50">
                        <div class="w51">МОДА
                        </div>
                        <div class="w52">Дополните свой стиль потрясающей одеждой от нас.</div>
                        <div class="w53"><a
                                href="https://www.facebook.com/campaign/landing.php?campaign_id=11554070363&extra_1=s%7Cc%7C477437435741%7Ce%7Cfacebook%7C&placement=&creative=477437435741&keyword=facebook&partner_id=googlesem&extra_2=campaignid%3D11554070363%26adgroupid%3D112923417056%26matchtype%3De%26network%3Dg%26source%3Dnotmobile%26search_or_content%3Ds%26device%3Dc%26devicemodel%3D%26adposition%3D%26target%3D%26targetid%3Dkwd-541132862%26loc_physical_ms%3D1028523%26loc_interest_ms%3D%26feeditemid%3D%26param1%3D%26param2%3D&gclid=EAIaIQobChMIj-K2npOLgAMV1uZ3Ch3UxwVGEAAYASAAEgKtTvD_BwE"
                                target="_blank"><img src="public/images/group-10.png"></a></div>
                        <div class="w54"><a href="https://www.instagram.com/" target="_blank"><img
                                    src="public/images/group-11.png"></a></div>
                        <div class="w55"><a href="https://twitter.com/i/flow/login?redirect_after_login=%2F" target="_blank"><img src="public/images/group-12.png"></a></div>
                        <div class="w56"><a
                                href="https://www.linkedin.com/authwall?trk=qf&original_referer=https://www.google.com/&sessionRedirect=https%3A%2F%2Fwww.linkedin.com%2F" target="_blank"><img
                                    src="public/images/rectangle-73.png"><p style="position: absolute;
                                    width: 23px;
                                    height: 28px;
                                    top: 5px;
                                    left: 14px;
                                    text-decoration: none;
                                    color: black;
                                    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-size: 24px;
font-weight: 700;
line-height: 40px;
letter-spacing: 0.02em;
text-align: left;
">in</p></a></div>
                        <div class="w57">Компания</div>
                        <div class="w58">О нас</div>
                        <div class="j68">Связаться с нами</div>
                    
                        <div class="j69">Поддержка</div>
                        <div class="j70">Карьера</div>
                        <div class="w59">Прямая ссылка</div>
                        <div class="w60">Поделиться
                            <br> 
                        местоположением
                        </div>
                        <div class="w61">Отслеживать заказы</div>
                        <div class="w63">Руководство по размерам</div>
                        <div class="j65">Часто задаваемые вопросы</div>
                        <div class="j66">Ютуб канал</div>
                        <div class="j71">Условия соглашения </div>
                        <div class="w62">
                            Политика конфиденциальности
                        </div>
                    </div></div>
                    <div class="testimonials">
                        <div class="inner">
                          <h1>Отзывы</h1>
                          <div class="border"></div>
                  
                  
                   <div class="row">
                            <div class="col">
                              <div class="testimonial">
                                <img src="https://avatars.dzeninfra.ru/get-zen_doc/1703756/pub_5e09a1f78d5b5f00b17f97a8_5e20328e3639e600ad0d0dc4/scale_1200" alt="" class="img">
                                <div class="name">Иброгим</div>
                                <div class="stars">
                                    <img src="public/images/png-clipart-five-yellow-star-illustration-star-stable-losing-hope-fall-back-skyward-5-stars-angle-text.png" alt="" class="img1">
                                </div>
                  
                                <p>
                                    They say that I'm on a roll
                                    Maybe I just lost control
                                    These nights keep on taking tolls
                                    Find me out here on my own
                                    You keep blowing up my phone
                                    Maybe I just lost control
                                    These nights keep on taking tolls
                                </p>
                              </div>
                            </div>
                  
                            <div class="col">
                              <div class="testimonial">
                                <img src="https://pm1.aminoapps.com/7859/2497e883ae94fcce80ea2e753d56f73b905f7adbr1-500-333v2_00.jpg" alt="" class="img">
                                <div class="name">ЧЕЛ ХАРОШ</div>
                                <div class="stars">
                                  <img src="public/images/png-clipart-five-yellow-star-illustration-star-stable-losing-hope-fall-back-skyward-5-stars-angle-text.png" alt="" class="img1">
                                </div>
                  
                                <p>
                                 Чел реально харош,
                                 офигенный сайт сделал респект ставлю 5 звезд
                                </p>
                              </div>
                            </div>
                                        </div>
</div>
                            </div>

</body>
</html>
</body>
</html>