<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="PROVERKA.css">
    <title>Favorite</title>
<div class="j18"><img src="public/images/rectangle-20.png" style="width: 380px; height: 420px; margin-left: 18px;"><div class="line2"><p
    class="p">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ex, aliquam!</p><p class="p1" style="font-size: 50px;">♡</p></div></div>
    <div class="j19"><img src="public/images/rectangle-21.png"style="width: 380px; height: 420px; margin-left: 18px;"><div class="line3"><p
    class="p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam, id!</p><p class="p1" style="font-size: 50px;">♡</p></div></div>
    <div class="j24"><img src="public/images/rectangle-22.png"style="width: 380px; height: 420px; margin-left: 18px;"> <div class="line4"><p
    class="p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam, id!</p><p class="p1" style="font-size: 50px;">♡</p></div></div>
    <div class="j21"><img src="public/images/edab2632a1803d62a06d495a8f7017e7.jpg"style="width: 370px; height: 420px; margin-left: 22px;"> <div class="line7"><p
    class="p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam, id!</p><p class="p1" style="font-size: 50px;">♡</p></div></div>
    <div class="j22"><img src="public/images/7593361802_6_1_8.jpg"style="width: 380px; height: 420px; margin-left: 18px;"><div class="line5"><p
    class="p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam, id!</p><p class="p1" style="font-size: 50px;">♡</p></div></div>
    <div class="j23"><img src="public/images/9998.png"style="width: 370px; height: 420px; margin-left: 22px;"><div class="line6"><p
    class="p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam, id!</p><p class="p1" style="font-size: 50px;">♡</p></div></div>
    <p class="p"></p></div></div>
    <div class="j50"><img src="public/images/girls-light-green-los-angeles-logo-long-sweatshirt.jpg"style="width: 370px; height: 420px; margin-left: 22px;"><div class="line6"><p
    class="p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam, id!</p><p class="p1" style="font-size: 50px;">♡</p></div></div>
    <div class="j51"><img src="public/images/kebab1.jpg"style="width: 370px; height: 420px; margin-left: 22px;"><div class="line6"><p
      class="p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam, id!</p><p class="p1" style="font-size: 50px;">♡</p></div></div>

</head>
</html>