.giga
{
    width: 90px;
    height: 90px;
    background: red;

} 
.giga0 {
    width: 90px;
    height: 90px;
    background: yellow;
} 
.giga1 {
    width: 90px;
    height: 90px;
    background: blue;
} 
.giga2 {
    width: 90px;
    height: 90px;
    background: green;
} 
.giga3 {
    width: 90px;
    height: 90px;
    background: purple;
} .giga4 {
    width: 90px;
    height: 90px;
    background: orange;
} .giga5 {
    width: 90px;
    height: 90px;
    background: brown;
} .giga6 {
    width: 90px;
    height: 90px;
    background: pink;
} 