
.nfk0
{ text-align: center;
    width: 800px;
    height: 240px;
    background-color:lightblue;
    border: 2px solid rgb(90, 84, 84);
    margin-top: 10px;
    margin-left: 10px;
    padding-top: 10px;
    padding-left: 60px;
}
.nfk1
{
    width: 650px;
    height: 170px;
    background-color: blueviolet;
    border: 2px solid rgb(90, 84, 84);
    margin-top: 5px;
    margin-left: 5px;
    padding-top: 5px;
    padding-left: 75px;
}

.nfk2 {
    width: 550px;
    height: 100px;
    background-color: pink;
    border: 2px solid rgb(90, 84, 84);
    padding-top: 20px;
    padding-left: 50px;
    
}

.nfk3 { text-align: center ;
    width: 500px;
    height: 50px;
    background-color: seagreen;
    border: 2px solid rgb(90, 84, 84);
}